<% layout("/layout/boilerplate") -%>
    
    <div class="main">
        <div class="error-container">
            <h2 class="error-heading">Oops! Something went wrong.</h2>
            <p><%= message %></p>
        </div>
    
    
    </div>
     
